@CHARSET "ISO-8859-1";
h2, p {
	text-align: center;
}

form {
    border: 3px solid #CDCDCD;
    border-radius: 15px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-bottom: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 3%;
}

label {
    width: 130px;
    display: inline-block;
    margin-left: 6%;
}

.psw a:hover {
	text-decoration: underline;
}

.registerbuttons a:hover {
	text-decoration: underline;
	opacity: 0.6;
}

.registerbuttons {
	margin-top: 40px;
}

.forgotContainer {
	background-color:#CDCDCD;
	margin-right: 15px;
	margin-left: -16px;
	margin-top: 25px;
	height: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 20px;
}

input[type=submit] {
    float: right;
    margin-top: 10px;
    background-color: #82AADC;
    width: 20%;
    margin-right: 5%;
    border-radius: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

span.psw {
    float: right;
    padding-top: 6px;
    margin-right: 5px;
}

.message p {
	text-align: center;
	color: red;
}

a {
    float: right;
    margin-top: 14px;
    background-color: #A9A9A9;
    width: 200px;
    margin-right: 5%;
    border-radius: 5px;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: auto;
    padding-top: 20px
    display: block;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
